:root {
    --font-size: 1rem;
  }
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #fee140;
    background-image: linear-gradient(90deg, #fee140 0%, #fa709a 100%);
  }
  span {
    font-size: 1.5rem;
  }
  
  ul {
    width: 50%;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
  }
  li {
    border-radius: 32px;
    background: white;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.15);
    padding: 10px 10px 10px 20px;
    margin: 5px;
    font-size: var(--font-size);
  }
  input,
  button {
    padding: 5px 10px;
    font-size: var(--font-size);
  }
  button {
    font-size: var(--font-size);
    border: rounded;
  
    color: white;
    padding: 6px 20px;
    margin-left: 10px;
    background-image: radial-gradient(
      circle 976px at 51.2% 51%,
      rgba(11, 27, 103, 1) 0%,
      rgba(16, 66, 157, 1) 0%,
      rgba(11, 27, 103, 1) 17.3%,
      rgba(11, 27, 103, 1) 58.8%,
      rgba(11, 27, 103, 1) 71.4%,
      rgba(16, 66, 157, 1) 100.2%,
      rgba(187, 187, 187, 1) 100.2%
    );
  }
  input {
    font-size: var(--font-size);
    background: white;
    border: 2px solid black;
  }
  